<mat-card class="mt-20">
    <mat-card-title>
      Edit Quote
    </mat-card-title>
    <hr>
    <mat-card-content>
      <div fxLayout="column">
        <mat-form-field>
          <textarea matInput placeholder="Enter a Quote" [(ngModel)]="content"> 
  
          </textarea>
        </mat-form-field>
        <mat-select placeholder="Select Author" name="authorId" [(ngModel)]="authorId">
          <mat-option *ngFor="let author of authors" [value]="author.id"> {{author.name}}
          </mat-option>
        </mat-select>
        <button mat-raised-button color="primary" (click)="updateQuote()">Edit Quote</button>
      </div>
    </mat-card-content>
  </mat-card>
  